{% extends "shop/base.html" %}

{% load bootstrap3 %}

{% block content %}

    {% if form.errors %}
        <p>Error</p>
    {% endif %}

    {% if next %}
        {% if request.user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" action="{% url 'register' %}">

                <div class="alert alert-danger" id="not_available" style="display: none">
                    Username is already taken
                </div>

                <div class="alert alert-info" id="available" style="display: none">
                    Username is available
                </div>

                {% csrf_token %}
                {% bootstrap_form form %}

                <input type="submit" value="Signup" class="btn btn-default"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>


    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}


{% block scripts %}
    <script>
        $('#id_username').focusout(function () {
            $.get('/check-username/' + this.value).done(function (response) {
                if (response.exists) {
                    $('#not_available').show()
                    $('#available').hide()
                } else {
                    $('#not_available').hide()
                    $('#available').show()
                }
            })
        })
    </script>
{% endblock %}