{% extends 'shop/base.html' %}

{% load thumbnail %}
{% load app_filters %}

{% block content %}
    <div class="row">
        <!--  Product Details -->
        <div class="product product-details clearfix">
            <div class="col-md-6">
                <div id="product-main-view">
                    <div class="product-view">
                        {% thumbnail product.image "1200x1200" crop="center" as im %}
                            <img src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                    </div>

                </div>
                <div id="product-view">
                    <div class="product-view">
                        {% thumbnail product.image "300x300" crop="center" as im %}
                            <img src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-body">
                    <div class="product-label">
                        <span>{{ product.category.title }}</span>
                    </div>

                    <h2 class="product-name">{{ product.title }}</h2>
                    <h3 class="product-price">NRs {{ product.price }}</h3>
                    <div>
                        <a href="#">{{ product.review_set.count }} Review(s)</a>
                    </div>
                    <p><strong>Brand:</strong> {{ product.brand_name }}</p>


                    <div class="product-btns">
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2">Reviews ({{ product.review_set.count }})</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            {{ product.details | safe }}
                        </div>
                        <div id="tab2" class="tab-pane fade in">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-reviews">

                                        {% for review in product.review_set.all %}
                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i
                                                            class="fa fa-user-o"></i> {{ review.user.username }}</a>
                                                    </div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i> {{ review.pub_date }}
                                                    </a>
                                                    </div>
                                                    <div class="review-rating pull-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>{{ review.comment }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="text-uppercase">Write Your Review</h4>
                                    <p>Your email address will not be published.</p>
                                    <form class="review-form" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="input" name="comment" placeholder="Your review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-rating">
                                                <strong class="text-uppercase">Your Rating: </strong>
                                                <div class="stars">
                                                    <input type="radio" id="star5" name="rating" value="5"/><label
                                                        for="star5"></label>
                                                    <input type="radio" id="star4" name="rating" value="4"/><label
                                                        for="star4"></label>
                                                    <input type="radio" id="star3" name="rating" value="3"/><label
                                                        for="star3"></label>
                                                    <input type="radio" id="star2" name="rating" value="2"/><label
                                                        for="star2"></label>
                                                    <input type="radio" id="star1" name="rating" value="1"/><label
                                                        for="star1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if user.is_authenticated %}
                                            <button class="primary-btn">Submit</button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Product Details -->
    </div>
{% endblock %}